<div class="navigation">
  <h1 class="title" id="title1">The</h1>
  <h1 class="title" id="title2">Opinion</h1>
  <h1 class="title" id="title3">Network</h1>
  <ul class="menu">
    <li class="menuItem"><a href="/">Home</a></li>
    <li class="menuItem"><a href="/polls">Polls</a></li>
    <li class="menuItem"><a href="/users">Users</a></li>
  </ul>
</div>
