<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <div class="loginDiv">
      <form class="loginForm" action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" name="submit" value="Submit">
      </form>
      <a href="/signup"><button type="button" name="signup">Sign up</button></a>
    </div>
  </body>
</html>
