<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>404 Not Found</title>
  </head>
  <body>
    <% include ./partials/nav %>
    <h1>Congratulations, it's a 404!</h1>
    <h2>But seriously, the requested url <%= req.url %> was not found on this server. Try something else. How about <a href="/">this</a>?</h2>
  </body>
</html>
