<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Polls</title>
  </head>
  <body>
    <a href="/polls/create"><button type="button" name="createPoll">Create New Poll</button></a>
    <!-- show all polls -->
    <% for (var i = 0; i < rows.length; i++){ %>
      <div class="pollItem">
        <h2><%= rows[i].title %></h2>
        <h3>Public opinion: <%= rows[i].avg_opinion %></h3>
      </div>
    <% } %>
  </body>
</html>
