<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/nav.ejs %>
    <div class="usersDiv">
      <div class="container">
        <h1>All users</h1>
        <% for (var i = 0; i < rows.length; i++){ %>
          <h3><a href=<%= "/users/" + rows[i].username %>><%= rows[i].username %></a></h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
